@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100vh;
}
.invoice-cta {
  height: 100vh;
  background: url("/images/invoice-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
